.not_found_wrapper {
    padding-top: 20vh;
    text-align: center;
    height: 65vh;
}

.not_found_wrapper .not_found {
    background: url('/images/doge.jpg') no-repeat;
    margin: auto;
    transition: all .2s ease-in-out;
    border-radius: 50%;
    height: 270px;    
    width: 270px;     
    cursor: pointer;
}

.not_found_wrapper .not_found:hover {
    transform: scale(1.05);
}

.not_found_wrapper p {
    padding: 10px;
    font-family: 'Righteous';
    font-size: 2.4rem;
}
