/* colors:  
blue: #337ab7;
active-blue: #2e6da4;
*/

.navbar {
    font-family: Righteous;
    font-size: 1.6rem;
    margin: 0px;
}

.navbar-nav li:hover {
    background-color: #2e6da4;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2e6da4;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    border-color: #2e6da4;
    background-color: #2e6da4;
}

.navbar-inverse .navbar-toggle {
    border-color: #337ab7;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color:  #337ab7;
    background-color: #337ab7;
}

.navbar-inverse {
    background-color: #337ab7;
    border-color: #2e6da4;
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 1800px) {
    .container {
        width: 1770px;
    }
}