.back_img {
    height: 70vh;    
    width: 100%;
    background-image: linear-gradient(to right top, rgba(96, 218, 255, 0.3),
    rgba(75, 156, 221, 0.0)), url('/images/cat-nature.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* .back_img .block {
    position: absolute;
    top: 10px;
} */

.back_img .block {
    color: #ffffff;
    text-shadow: 0px 1px 1px #494949;
    font-size: 1.6rem;
}

.back_img .block .main_title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous';
    font-size: 6.0rem;
    letter-spacing: 1.2rem;    
    line-height: 1.3;
    padding-top: 20vh;
}